.leftP{
    padding: 10%;
}

.raP{
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: gold;
}
.grid-cell {
    width: 30.3px;
    height: 30.9px;
    border: 1px solid #ccc;
    cursor: url('./assets/aero_link_xpxl.png'), auto;

  }
  
  .grid-cell.active {
    background-color: #3498db;
  }
  .grid-cell.start {
    background-color: green;
    pointer-events: none; /* This makes the cell unclickable */
  }
  .obstacle {
    background-color: black; /* Change to your desired obstacle color */
  }


  .maze-cell {
    width: 27.3px;
    height: 24.7px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease-in-out;
  }
  @-moz-document url-prefix() {
    .maze-cell {
      width: 28px;
      height: 24.9px;
      border: 1px solid #ccc;
      transition: background-color 0.3s ease-in-out;
    }
  }
  .maze-cell.wall {
    background-color: black;
  }
  
  .black-cell {
    background-color: black;
  }
  .green-cell {
    background-color: green;
  }
  
  .red-cell {
    background-color: red;
  }
  .checked-cell {
    background-color: yellow; /* Adjust this color as desired */
    transition: background-color 0.3s;
  }
  
  /* Style for shortest path cells */
  .purple-cell {
    background-color: purple; /* Adjust this color as desired */
    transition: background-color 0.3s;
  }
  .disabled-button{
    opacity:0.7
  }
  .titleBarP {
    display: flex;
    justify-content: space-between; /* Distribute elements at both ends */
    align-items: center; /* Align elements vertically at the center */
    background: navy;
    background: linear-gradient(to right, navy 0, #1084d0 100%);
    color: #fff;
    font-size: 16px;
    font-family: RS;
    padding: 0.33em 1em;
    border-bottom: 2px solid #000;
    width:896px;
    position: sticky;
  top: 0;
  z-index: 1;
    
  }
  .bcP{
    display: flex;
  align-items: center;
  margin-right: 15px;
}

  @media only screen and (max-device-width: 480px) {
    .maze-cell {
      width: 9.59px;
      height: 8.99px;
      border: 1px solid #ccc;
      transition: background-color 0.3s ease-in-out;
    }
    .checked-cell {
      background-color: lightblue;
      transition: background-color 0.3s; /* Adjust this color as desired */
    }
    .purple-cell {
      background-color: purple; /* Adjust this color as desired */
      transition: background-color 0.3s;
    }
    
    .leftP {
      order: 3; /* Change the order for mobile */
  }
  .middle{
    order:2
  }

  .right {
      order: 1; /* Change the order for mobile */
  }
  .titleBarP {
    position: sticky;
    width: 100%; /* Full width for mobile */
    font-size:4.7px;
    
  }
  .bcP{
    margin-left: 6vw;
    padding:1%;
  }
  .algo{
    height: 200px;
    width:260px
  }

  }
